# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

sample6_1/build/Qt_6_9_0_for_macOS-Debug/.qtc_clangd/.cache/clangd/index/

sample6_1/build/Qt_6_9_0_for_macOS-Debug/.qtc_clangd/
